
.balance {
border-collapse: collapse;
table-layout: fixed;
text-align: center;
width: 100%;
}

.balance tr:first-child {
height: 4ex;
box-shadow: 0 0 1ex 0 black;
}

.balance-0 { background: rgb(0%, 0%, 0%) }
.balance-5 { background: rgb(5%, 5%, 5%) }
.balance-10 { background: rgb(10%, 10%, 10%) }
.balance-15 { background: rgb(15%, 15%, 15%) }
.balance-20 { background: rgb(20%, 20%, 20%) }
.balance-25 { background: rgb(25%, 25%, 25%) }
.balance-30 { background: rgb(30%, 30%, 30%) }
.balance-35 { background: rgb(35%, 35%, 35%) }
.balance-40 { background: rgb(40%, 40%, 40%) }
.balance-45 { background: rgb(45%, 45%, 45%) }
.balance-50 { background: rgb(50%, 50%, 50%) }
.balance-55 { background: rgb(55%, 55%, 55%) }
.balance-60 { background: rgb(60%, 60%, 60%) }
.balance-65 { background: rgb(65%, 65%, 65%) }
.balance-70 { background: rgb(70%, 70%, 70%) }
.balance-75 { background: rgb(75%, 75%, 75%) }
.balance-80 { background: rgb(80%, 80%, 80%) }
.balance-85 { background: rgb(85%, 85%, 85%) }
.balance-90 { background: rgb(90%, 90%, 90%) }
.balance-95 { background: rgb(95%, 95%, 95%) }
.balance-100 { background: rgb(100%, 100%, 100%) }

